/* You can add global styles to this file, and also import other style files */

html
body  {
  background-color: #f0f0f0;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.required{
  color: red;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.admin{
  margin-left: 715px;
}
.error-message{
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
