<div class="container">
  <!-- Navigation Bar -->
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink routerLink="/home" routerLinkActive="active">
        <i class="bi bi-house"></i> Home
      </button>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink routerLink="/home/contact" routerLinkActive="active">
        <i class="bi bi-envelope"></i> Contact
      </button>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink routerLink="/home/about" routerLinkActive="active">
        <i class="bi bi-info-circle"></i>
        About
      </button>
    </li>
    <div class="admin">
      <li [ngbNavItem]="4">
        <button ngbNavLink routerLink="/login" routerLinkActive="active">
          <i class="bi bi-person-circle"></i>
          Admin Sign-In
        </button>
      </li>
    </div>
  </ul>

  <!-- Contact Component Content -->
  <h1>Contact Page</h1>

  <div class="contact-page">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Contact Information</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let contact of contactDetails">
        <ng-container *ngIf="active === 1">
        <p class="message"> {{ contact.message }} </p>
      </ng-container>
      <ng-container *ngIf="active === 2">
        <p> {{ contact.name }} </p>
        <p> {{ contact.email }} </p>
        <p> {{ contact.phone }} </p>
      </ng-container>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip (click)="showDetails(1)">Description</mat-chip>
          <mat-chip (click)="showDetails(2)">Contact Details</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

